:root {
  --color-primary-black: #1e1919;
  --color-primary-yellow: #f9c220;
  --color-primary-orange: #dc8200;
}

.bg-theme-black {
  background-color: var(--color-primary-black);
}
.bg-theme-yellow {
  background-color: var(--color-primary-yellow);
}
.bg-theme-orange {
  background-color: var(--color-primary-orange);
}
.text-theme-yellow {
  color: var(--color-primary-yellow);
}
.text-theme-orange {
  color: var(--color-primary-orange);
}
.border-theme-yellow {
  border-color: var(--color-primary-yellow);
}
.border-theme-orange {
  border-color: var(--color-primary-orange);
}
.font-cinzel {
  font-family: "Cinzel", serif;
}
.border-b-theme-yellow {
  border-bottom: var(--color-primary-yellow) 2px solid;
}
/* height */
.h-half-screen {
  height: 85dvh;
}
.max-h-half {
  height: 40dvh;
}
.h-70 {
  height: 75dvh;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* btns */
.btn-orange {
  background-color: var(--color-primary-orange);
  padding: 10px 20px;
  transition: all ease 0.3s;
  color: var(--color-primary-black);
}
.btn-orange:hover {
  background-color: transparent;
  color: #fff;
}
.btn-orange-outline {
  padding: 10px 20px;
  border: var(--color-primary-orange) 1.5px solid;
  transition: all ease 0.3s;
  color: var(--color-primary-orange);
}

.btn-orange-outline:hover {
  background-color: var(--color-primary-orange);
  color: #fff;
}
